/******************************************************************************
 *
 *	CFPA HOME - MAILCHIMP SUBSCRIPTION FORM "CFPA Main"
 *
 *****************************************************************************/

.mailchimp-newsletter-mergefields > .form-item > .form-text {
  width: 100%;
}

.pane-mailchimp-signup-cfpa-main {
  position: relative;

  .form-text {
    width: 100%;
    box-sizing: border-box;
    color: #767676;
    font-size: 1em;
    border: 1px solid #bbb;
    box-shadow: 0 0 2px #ddd inset;

    &:focus, &:hover {
      border: 1px solid $wwuBlue;
      border-radius: 2px;
    }
  }

  .form-text:focus {
    color: #333;
  }

  .form-submit {
    background: none repeat scroll 0% 0% $wwuBlue;
    border: 1px solid #CCC;
    border-radius: 0px;
    color: #FFF;
    font-size: 1em;
    box-shadow: none;

    &:hover, &:focus {
      color: $wwuBlue;
      background-color: #fdfdfd;
      border: 1px solid $wwuBlue;
    }
  }

  fieldset {
    padding: 0;
    border: none;
    margin: 1.25em 0;

    label {
      position: static;
    }
  }

  legend {
    float: left;
  }

  .mailchimp-newsletter-mergefields label {
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: none;
  }

  .fieldset-wrapper {
    clear: left;
  }
}

  #edit-submit {
    margin-top: 1.25em;
  }

  #edit-submit:active {
    box-shadow: 0 0 2px #23778f inset;
  }

.logged-in {

  .mailchimp-lists-user-subscribe-form .form-checkbox {
    float: left;
  }

  .mailchimp-lists-user-subscribe-form .description {
    margin-bottom: 3em;
  }
}
