/**
 * @file
 * Customization for College of Fine and Performing Arts
 *
 */

@import "base";
@import "compass";
@import "zen";
@import "mailchimp";

$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
$display-small: 320px;
$display-medium: 600px;
$display-large: 900px;
$feature-title-unit: 16px;

/******************************************************************************
 *
 *  GENERIC ELEMENT STYLES
 *
 *****************************************************************************/

/* PANEL BLOCKS */

.cfpa-bottom-right-bottom .pane-block,
.wwu-33-percent-left-column .pane-block {
  background-color: #DDD;
  padding: 1.5em;
  margin-bottom: 0.625em;
  box-sizing: border-box;

  .form-item {
    color: $wwuBlue;
    margin-bottom: 0;
  }
}

/* PANEL PANES */

.wwu-33-percent-left-column .panel-pane {
  margin-bottom: 1em;
}

/******************************************************************************
 *
 *  PAGE/ELEMENT SPECIFIC STYLES
 *
 *****************************************************************************/

/******************************************************************************
 *
 *	CFPA HOME
 *
 *****************************************************************************/

@media all and (min-width: 0) {

  main {
    > .page-title {
      margin-bottom: 0.625em;
    }

    > .page-title h1 {
      font-size: 1.5em;
      line-height: 1.667;
      margin: 0;
      padding: 0 0.3em;
    }
  }

  header[role="banner"] > div {
    max-height: none;
  }

  .pane-title {
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5em;
  }
}

/******************************************************************************
 *
 *	FEATURED EVENTS
 *
 *****************************************************************************/

@media all {

  .acalog {
    .acalog-close {
      display: none;
    }
  }

  .featured-grid .views-responsive-grid .views-column {
    padding: 0;
  }

  .field-facebook-event a::before {
    background-image: url("../images/fb-logo.png");
  }

  .view-featured {

    div {
      line-height: 0;
    }

    .views-row {
      position: relative;

      .views-column {
        margin-bottom: 10px;
        padding: 0;
        position: relative;
      }
    }

    .featured-image-wrapper {
      overflow: hidden;
    }

    .views-field-title {
      display: block;
      background-color: #000;
      background: transparent url("../images/feature_title.png") left top repeat-x;

      span {
        position: relative;
        display: block;
        color: #fff;
        text-transform: uppercase;
        line-height: 1em;
        padding: 1.75em 0;
        padding-left: 54px;
      }

      span:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        background: transparent url("../images/feature_icons.png") left bottom no-repeat;
        width: 34px;
        height: 34px;
        margin-top: -17px;
        border-radius: 17px;
        box-shadow: 0 0 1px #333;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .views-column-2 .views-field-title a:before {
      background-position: left bottom;
    }
  }
}

@media all and (min-width: $display-small) {

}

@media all and (min-width: $display-medium) {

  .view-featured {
    margin-bottom: 3em;

    .views-column {
      width: 33.3335%;
      float: left;
      margin-bottom: 0;
    }

    .featured-image-wrapper {
      display: block;
    }

    .views-field-title {
      $feature-title-width: $feature-title-unit * 12;
      $feature-title-margin: -($feature-title-width / 2);

      position: absolute;
      left: 50%;
      bottom: -1.125em;
      width: $feature-title-width;
      margin-left: $feature-title-margin;
      background-position: left bottom;
      text-align: center;
      z-index: 1;

      span {
        padding: 1.45em 0;
        transition: padding 1s;
      }

      span:before {
        top: 0;
        left: 50%;
        margin-left: -17px;
      }
    }
  }
}

@media all and (min-width: $display-large) {

  .view-featured {

    .views-field-title {
      $feature-title-width: $feature-title-unit * 14;
      $feature-title-margin: -($feature-title-width / 2);

      width: $feature-title-width;
      margin-left: $feature-title-margin;

      span {
        padding: 1.75em 0;
      }
    }
  }
}

/******************************************************************************
 *
 *	CFPA HOME - QUICKTABS
 *
 *****************************************************************************/

@media all and (min-width: 0) {

  #quicktabs-front_page_content {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 10px;

    .quicktabs-tabs {
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 0;
        margin-bottom: 0.625em;

        a {
          position: relative;
          display: block;
          width: auto;
          background-color: #eee;
          background-image: url("../images/tabs_sprite.png");
          background-repeat: no-repeat;
          padding: 1.5em;
          padding-right: 3em;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 1s;
        }

        a:before {
          position: absolute;
          top: 0;
          right: 1.5em;
          content: '';
          width: 13px;
          height: 100%;
          background: transparent url("../images/cfpa_arrow.png") center center no-repeat;
        }

        #quicktabs-tab-front_page_content-3 {
          background-position: 0px 0px;
        }

        &:nth-child(4) {
          background-position: 0px 0px;
        }

        #quicktabs-tab-front_page_content-2 {
          background-position: 0px -100px;
        }

        &:nth-child(3) {
          background-position: 0px -100px;
        }

        #quicktabs-tab-front_page_content-1 {
          background-position: 0px -200px;
        }

        &:nth-child(2) {
          background-position: 0px -200px;
        }

        #quicktabs-tab-front_page_content-0 {
          background-position: 0px -300px;
        }

        &:nth-child(1) {
          background-position: 0px -300px;
        }
      }

      li.active {

        a {
          background-image: none;
        }

        #quicktabs-tab-front_page_content-3 {
          background-color: #ffc61e;
        }

        &:nth-child(4) {
          background-color: #ffc61e;
        }

        #quicktabs-tab-front_page_content-2 {
          background-color: #bad80a;
        }

        &:nth-child(3) {
          background-color: #bad80a;
        }

        #quicktabs-tab-front_page_content-1 {
          background-color: #cc2d30;
        }

        &:nth-child(2) {
          background-color: #cc2d30;
        }

        #quicktabs-tab-front_page_content-0 {
          background-color: #0083d6;
        }

        &:nth-child(1) {
          background-color: #0083d6;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }

    .quicktabs_main .quicktabs-tabs li a:before {
      content: '';
      background: none;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
    }

    #quicktabs-container-front_page_content .quicktabs-wrapper .views-row {
      padding: 0;
      border: none;
    }

    #quicktabs-container-front_page_content .quicktabs-tabpage {
      .quicktabs-tabpage {
        padding: 0;
      }

      /*
       * Style for any HTML table views on the front page quicktabs display.
       * currently used for the Event view.
       */
      .views-table tr {
        background: none;
        border-color: #ddd;
      }

      .views-table td {
        border: none;
      }

      .views-table td:first-child {
        white-space: nowrap;
        vertical-align: top;
      }
    }
  }

  /* TABS 1 */
  /****************************************/

  #quicktabs-container-front_page_content {

    .quicktabs-tabpage {
      padding-left: 0.75em;
    }

    .views-row {
      border-top: 1px solid #eee;
      padding: 0.75em 0;
    }

  }

  /* TABS 2 */
  /****************************************/

  #block-menu-menu-outreach-community {
    margin: 0;

    .menu {
      border-bottom: 1px solid #eee;
      padding: 0;
    }

    .menu, li {
      list-style: none;
      margin: 0;
    }

    li {
      padding: 0.75em 0;
      border-top: 1px solid #eee;
    }
  }

  /* TABS 3 */
  /****************************************/

  #block-aggregator-feed-1 {

    ul {
      list-style: none;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0.75em 0;
      border-top: 1px solid #eee;
    }
  }
}

@media all and (min-width: $display-small) {

}

@media all and (min-width: $display-medium) {

  #quicktabs-front_page_content {

    > .item-list {
      float: left;
      width: 50%;
    }

    ul.quicktabs-tabs {
      margin-right: 0.75em;
    }
  }

  #quicktabs-container-front_page_content {
    width: 50%;
    margin-left: 50%;
  }
}

@media all and (min-width: $display-large) {

}

/******************************************************************************
 *
 *	CFPA HOME - SOCIAL MEDIA
 *
 *****************************************************************************/

@media all and (min-width: 0) {

  /* ALL TABS */
  #quicktabs-social_media, #quicktabs-theatre_dance_social, #quicktabs-art_social, #quicktabs-music_social {
    background-color: #ddd;
    padding: 1.5em;
    overflow: auto;
    font-size: 0.75em;

    .item-list {
      margin-bottom: 1.5em;

      .quicktabs-tabs {
        height: 32px;
        line-height: 0;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          height: 32px;
          width: 32px;
          line-height: 0;
          padding: 0;
          margin: 0;
          margin-right: 1.5em;

        }

        li.last {
          margin: 0;
        }

        li.active {
          background: transparent;
        }
      }
    }

    .facebook-feed .item, .instagram-item {
      background: #fff;
      color: #333;
      padding: 10px 10px 0;
      margin-bottom: 2px;
      font-size: 1.077em;
      line-height: 1.5em;
    }

    #quicktabs-tab-social_media-0, #quicktabs-tab-social_media-1, #quicktabs-tab-social_media-2,
    #quicktabs-tab-theatre_dance_social-0, #quicktabs-tab-theatre_dance_social-1,
    #quicktabs-tab-art_social-0, #quicktabs-tab-art_social-1,
    #quicktabs-tab-music_social-0, #quicktabs-tab-music_social-1,
    {
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-indent: -9999px;
      whitespace: nowrap;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    /* FACEBOOK TAB */
    #quicktabs-tab-social_media-0,
    #quicktabs-tab-theatre_dance_social-0,
    #quicktabs-tab-art_social-0,
    #quicktabs-tab-music_social-0
    {
      background: transparent url("../images/cfpa_social_sprite.png") left bottom no-repeat;
    }
    li.active {
    	#quicktabs-tab-social_media-0,
    	#quicktabs-tab-theatre_dance_social-0,
    	#quicktabs-tab-art_social-0,
   		#quicktabs-tab-music_social-0
    	{
      		background: transparent url("../images/cfpa_social_sprite_active.png") left bottom no-repeat;
      	}
    }

          #quicktabs-tabpage-social_media-0,
    #quicktabs-tabpage-theatre_dance_social-0,
    #quicktabs-tabpage-art_social-0,
    #quicktabs-tabpage-music_social-0
    {
      .facebook-feed .item {
        .facebook-feed-picture {
        	margin-right: 10px;
        }
        .facebook-feed-from a {
          color: #333;
        }
        .facebook-feed-message {
          display: block;
          img {
          	display: block;
          }
        }
        .facebook-feed-message, .facebook-feed-time {
        	margin-left: 60px;
        }
      }
    }


    /* TWITTER TAB */
    #quicktabs-tab-social_media-1,
    #quicktabs-tab-theatre_dance_social-1,
    #quicktabs-tab-art_social-1,
    #quicktabs-tab-music_social-1
    {
      background: transparent url("../images/cfpa_social_sprite.png") left top no-repeat;
    }
    li.active {
    	#quicktabs-tab-social_media-1,
    	#quicktabs-tab-theatre_dance_social-1,
    	#quicktabs-tab-art_social-1,
    	#quicktabs-tab-music_social-1
    	{
      		background: transparent url("../images/cfpa_social_sprite_active.png") left top no-repeat;
      	}
    }
    .twitter-status:after {
      content: none;
    }

      .twitter-status .name-handle .name a {
          font-weight: bold;
          margin-right: 5px;
          color: #333333;
      }

      .twitter-status .timestamp {
          color: #999999;
          font-size: 0.85714285714286em;
          float: right;
      }

      .twitter-status .name-handle .handle a {
          color: #999999;
          font-size: 0.85714285714286em;
      }

      .twitter-status .text{
          margin-left: 60px;
      }
      .twitter-status .actions {
          text-align: right;
          font-size: 0.85714285714286em;
          padding: 0;
          margin: 0;
          visibility: hidden;
      }

      .twitter-status .actions a {
          display: inline-block;
          line-height: 16px;
          margin-left: 10px;
          vertical-align: top;
          color: #999999;
      }

      .twitter-status .actions li{
          display: inline-block;
          list-style: none;
          padding: 0;
          margin: 0;
      }

      div.view-tweets ul{
          list-style-type: none;
          padding: 0px;
      }

      .twitter-status{
          background: #ffffff;
          color: #333333;
          padding: 10px 10px 0;
          margin-bottom: 2px;
          font-size: 1.077em;
          line-height: 1.42857142857143em;
      }

        .twitter-status .avatar {
              float: left;
              display: block;
              padding-right: 10px;
          }

    /* INSTAGRAM TAB */
    #quicktabs-tab-social_media-2 {
      background: transparent url("../images/cfpa_social_sprite.png") right top no-repeat;
    }
    li.active #quicktabs-tab-social_media-2 {
      	background: transparent url("../images/cfpa_social_sprite_active.png") right top no-repeat;
    }
    .instagram-item {
      .instagram-user-picture {
        float:left;
        margin-right: 10px;
      }
      .instagram-date {
        float:right;
        color: #999;
        font-size: 0.8em;
        font-style: italic;
      }
    }
    .instagram-user-name a {
      font-weight: bold;
      color: #000;
    }
    .instagram-user-username {
      color: #999;
      font-size: 0.8em;
    }
    .instagram-image, .instagram-caption {
      padding-left: 60px;
      img {
      	max-width: 100%;
      }
    }
  }
  #quicktabs-theatre_dance_social, #quicktabs-art_social, #quicktabs-music_social {
  	background-color: transparent;
  	padding: 1.5em 0;
  }
}

@media all and (min-width: $display-small) {}

@media all and (min-width: $display-medium) {
  .pane-quicktabs-social-media {
    width: 50%;

    .quicktabs-wrapper {
      margin-right: 0.75em;
    }
  }
}

@media all and (min-width: $display-large) {}

/******************************************************************************
 *
 *	CFPA HOME - EVENTS CALENDAR and EVENTS CALENDAR FILTERS
 *
 *****************************************************************************/

.pane-events-calendar-calendar {
  position: relative;
  background-color: #ffcf25;
  padding: 1.5em;

  a {
    color: $wwuBlue;
  }

  .pane-title {
    margin-right: 5em;
  }

  .view-header {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }

  .date-nav-wrapper {
    margin: 0;

    .date-nav {
      min-height: 0;
      padding: 0;
      margin: 0;

      .date-heading h3 {
        font-size: 1em;
        line-height: 1.5em;
        text-transform: uppercase;
        padding: 0 20px;
      }

      .pager {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;

        li {
          display: inline-block;
          background: none;
          font-size: 0;
          line-height: 0;
          padding: 0;
          margin: 0;
        }

        a {
          display: inline-block;
          color: transparent;
          background: transparent url("../images/cfpa_cal_arrow.png") no-repeat;
          width: 10px;
          height: 24px;
          line-height: 24px;
          font-size: 0;
          padding: 0;
          margin: 0;
        }

        .date-prev {
          left: 0;
          right: auto;

          a {
            background-position: left center;
          }
        }

        .date-next {
          right: 0;
          left: auto;

          a {
            background-position: right center;
          }
        }

        .ajax-progress {
          display: none;
        }
      }
    }
  }

  table {
    border: 1px solid #ddd;
  }

  table.mini {

    td.mini, td.empty {
      padding: 0;
      border-bottom-width: 0;
      border: 1px solid #ddd;

      div {
        padding: 0.1em 0.3em 0.6em 0.3em;
      }
    }

    td.today {
      color: #fff;
      background-color: #8eb6cf;
    }

    td.has-evnets a {
      font-weight: bold;
    }
  }

  .calendar-empty {
    dispaly: none;
    font-size: 0;
    line-height: 0;
  }

  th.days {
    background-color: #f3f3f3;
    color: #003f87;
    font-weight: normal;
    border-color: #ddd;
  }
}

.events_calendar_filters {
  background-color: #ffcf25;
  padding: 0 1.5em 1.5em 1.5em;

  .views-exposed-widgets {
    margin: 0;
  }

  .views-exposed-widget {
    float: none;
    padding: 0;
    padding-bottom: 0.625em;
  }

  .views-widget-filter-field_venue_target_id,
  .views-exposed-widget:last-child {
    padding-bottom: 0;
  }

  .ajax-progress-throbber {
    display: none;
  }

  select {
    width: 100%;
  }
}

/******************************************************************************
 *
 *	EVENTS PANEL
 *
 *****************************************************************************/

.pane-node-field-start-date,
.pane-node-field-venue {
  color: #003f87;
}

.pane-node-field-start-date {
  font-size: 150%;
  line-height: 2;
  line-height: 3rem;
}

.pane-node-field-start-date ~ .pane-node-field-start-date,
.pane-node-field-venue {
  font-size: 112.5%;
  line-height: 1.333;
  line-height: 1.5rem;
  margin-bottom: 1.333em;
  margin-bottom: 1.5rem;
}

.field-free-admission {
  box-sizing: border-box;
  background: #0070b6;
  color: #fff;
  width: 250px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 0.4em;
  padding: .25em 1em;
  border: none;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}

.field-tickets-com-link {
  width: 250px;
  height: 55px;
  margin: 0 auto 0.4em;
  text-align: center;
   a {
    background: $wwuRed;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 2.8em;
    line-height: 55px;
    font-weight: bold;
    letter-spacing: .05em;
    transition: .2s ease;

    &:hover {
      background: lighten($wwuRed, 10%);
      text-decoration: none;
    }

    &:focus {
      background: lighten($wwuRed, 10%);
    }

  }
}

.field-facebook-event::after {
  content: url('../images/facebook.png');
}


/******************************************************************************
 *
 *	EVENTS CALENDAR (VIEW) - /calendar
 *
 *****************************************************************************/

.date-nav .pager {
  position: relative;
}

.events-calendar-day-view .views-row {
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

.calendar-calendar {

  .views-field-title {
    line-height: 1.5;
  }

  .month-view {

    .full tr.date-box {
      background-color: #eee;
    }

    .full tr td.multi-day div.monthview {
      height: 2.5em;
    }

    .full td.multi-day .inner div a {
      background-color: #ffc;
    }
  }

  .inner,
  .calendar-empty {
    min-height: 8.5em;
    height: 8em;
  }

  .multi-day {
    background-color: #fff;
  }

  .single-day {
    background-color: #fff;
  }
}

.view-events-calendar-calendar- .feed-icon {
  margin-top: 1.5em;
}


/******************************************************************************
 *
 *	FRONT PAGE NEWS ARTICLES (VIEW) - /articles
 *
 *****************************************************************************/

.cfpa-news .views-row, .view-events .views-row , .view-special-events .views-row {
  padding-top: 1em;
  border-bottom: 1px solid #ddd;
}

.cfpa-news .views-row-1 {
  padding-top: 0;
}

.cfpa-news .views-field-title * {
  margin-top: 0;
}

.cfpa-news .views-field-created {
  margin-bottom: 1em;
  color: #555;
}

.cfpa-news .views-field-body p {
  margin-bottom: 1em;
}

.cfpa-news.cfpa-news-recent .views-row {
  padding-bottom: 1em;
}

/******************************************************************************
 *
 *	CFPA DEPARTMENT (PANEL LAYOUT)
 *
 *****************************************************************************/

.cfpa-department-container {
  .view-featured {

    .views-column {
      width: auto;
      float: none;
    }

    .views-field-title {

      .field-content:before {
        background-position: left top;
      }
    }
    .td-featured {
      .views-field-title {
        span:before {
          background-position: left -34px;
        }
      }
    }
  }

  .view-tweets,
  .view-events,
  .pane-aggregator-category-1 {

    ul {
      margin: 0;
    }
  }

  .view-events,
  .pane-aggregator-category-1 {

    ul {
      list-style: none;
      padding: 0;
    }

    ul li,
    .views-row {
      border-bottom: 1px solid #eee;
      padding: 0.75em 0;
    }
  }

  .panel-pane {
    margin-bottom: 1em;
  }

  .pane-featured-panel-pane-2 {
    margin-bottom: 3em;
  }
}

.cfpa-department-top-left,
.cfpa-department-bottom-left {

  .panel-pane {
    padding-left: 0;
  }
}

.cfpa-department-top-right,
.cfpa-department-bottom-right {

  .panel-pane {
    padding-right: 0;
  }
}

.cfpa-department-bottom-left h2,
.cfpa-department-bottom-middle h2,
.cfpa-department-bottom-right h2 {
  background-color: #eee;
  padding: 0.5em 0.3em;
  margin-bottom: 0;
  border-bottom-width: 0.5em;
  border-bottom-style: solid;
  text-transform: uppercase;
  text-align: center;
}

.cfpa-department-bottom-left h2 {
  border-bottom-color: #C0D642;
}

.cfpa-department-bottom-middle h2 {
  border-bottom-color: #E42C1A;
}

.cfpa-department-bottom-right h2 {
  border-bottom-color: #FFC03C;
}

.pane-title ~ .view-tweets {
  padding: 0;
}

/******************************************************************************
 *
 *	WEBFORM FILE UPLOAD BUTTONS
 *
 *****************************************************************************/


input[value="Upload"] {
  display: none;
  visibility: hidden;
}
