/* --- EASYDROPDOWN FLAT THEME by Jan Cantor --- */

/* PREFIXED CSS */

.easydropdown,
.easydropdown div,
.easydropdown li,
.easydropdown div::after,
.easydropdown .carat,
.easydropdown .carat:after,
.easydropdown .selected::after,
.easydropdown:after {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.easydropdown .selected::after,
.easydropdown.scrollable div::after {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.easydropdown {
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #fff url('../images/select_arrow.png') right center no-repeat;
	color:  #000;
	padding-right: 36px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.easydropdown.open {
	z-index: 2;
}

.easydropdown:hover,
.easydropdown.focus {
}

/* CARAT */

.easydropdown .carat,
.easydropdown .carat:after {
	display: none;
}

/* OLD SELECT (HIDDEN) */

.easydropdown {

	.old {
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 0;
		overflow: hidden;
	}

	select {
		position: absolute;
		left: 0px;
		top: 0px;
	}

	&.touch select {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

/* SELECTED FEEDBACK ITEM */ 

.easydropdown {

	.selected  {
		color: #000;
	}

	.selected,
	li {
		display: block;
		line-height: 1.8;
		padding: 0 0.5em;
		overflow: hidden;
		white-space: nowrap;
	}

	.selected::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 60px;
	}
}

/* DROP DOWN WRAPPER */

.easydropdown div {
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 1px;
	overflow: visible;
	opacity: 0;
	color: #000;
}

/* Height is adjusted by JS on open */

.easydropdown.open div {
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.easydropdown.scrollable div::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}

.easydropdown.scrollable.bottom div::after {
	opacity: 0;
}

/* DROP DOWN LIST */

.easydropdown ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	min-width: 100%;
	list-style: none;
	overflow: hidden;
	border-radius: 5px;
	background: #fff;
	padding: 0;
}

.easydropdown.scrollable.open ul {
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.easydropdown {

	li {
		list-style: none;
		line-height: 1.8;
		padding: 0 0.5em;
		border-bottom: 1px solid #eee;
	}

	li:last-child {
		border-bottom: 0;
	}
}


/* .focus class is also added on hover */

.easydropdown {

	li.focus {
		background: #fefefe;
		position: relative;
		z-index: 3;
	}

	li.active {
		background: #fafafa;
	}
}
